.main {
	margin: 20px auto;
	width: 1000px;
}

.footer {
	float: left;
	width: 1000px;
	margin-top: 10px;
	text-align: center;
}

.messagePanel {
	display: none;
	position: fixed;
	bottom: 50%;
	right: 0;
	z-index: 300002;
	background-color: #7B93D5;
	padding: 5px 0 5px 5px;
}
.messageSubPanel {
	color: WHITE;
	font-size: 16px;
	font-weight: bolder;
}

.center {
	float: left;
}

.right {
	margin-left: 10px;
	float: left;
}

.title {
	margin-bottom: 30px;
	border-bottom: 1px solid GRAY;
	font-size: 2em;
	text-align: center;
	color: GRAY;
}

.scheduler {
	width: 285px;
	/*height: auto;*/
}

.taskEditor {
	width: 500px !important;
	height: 250px !important;
}

.tabPane {
	width: 700px;
	/*height: 500px;*/
}

.loginPane {
	width: 285px;
	margin-bottom: 10px;
	/*height: auto;*/
}

.toolStrip {
	width: 700px;
	background-color: #F4F4F4;
	border: 2px solid #92C1F0;
	height: 20px;
	padding: 2px;
	margin-top: 5px;
}

.bankDetail {
	z-index: 300000;/*
	width: 700px;
	height: 500px;*/
}

.calendar {
	z-index: 300000;
}

.cronCreationPanel {
	border-left: 2px SOLID #CCCCCC;
	margin-left: 120px;
}

.helpIcon {
	margin-left: 5px;
	border: none;
}
.bankEditor {
	z-index: 300000;
}
.bankEditorTitle {
	font-weight: bolder;
	font-size: larger;
	color: #406BA4;
}
.bankEditorTitleValue {
	font-weight: bolder;
	font-size: larger;
	margin-left: 5px;
}
.bankEditorSmallTitle {
	font-size: larger;
	color: #406BA4;
}
.bankEditorPanel {
	width: 800px;
	padding: 5px;
}
.bankEditorTopPanel {
	width: 800px;
	padding: 5px;
	-moz-box-shadow:10px 10px 5px #888888;
	-webkit-box-shadow:10px 10px 5px #888888;
	background-color:#EEEEEE;
	margin: 10 30 30 30;
}
.bankPanel {
	margin: 10 30 30 30;
	/*border: 2px solid #406BA4;*/
}
.bankEditorMainPanel {
	/*border: 2px solid #406BA4;*/
}

.selectBankLabel {
	font-weight: bolder;
	margin-bottom: 10px;
}

.bankEditorSubPanel {
	width: 100%;
	margin-bottom: 5px;
	padding: 0 10 5;
	border-bottom: 2px solid #E6E6E6;
}
.includeFilePanel {
	/*width: 100%;*/
	border-top: 2px solid #E6E6E6;
	margin-top: 10px;
	padding: 5px;
}
	
.blockPanel {
	/*border: 1px solid #92c1f0;*/
	border: 1px solid #406BA4;
}
.metaPanel {
	border: 1px solid #406BA4;
}
.processPanel {
	border: 1px solid #406BA4;
	width: 150px;
}
.processEditorPanel {
	margin: 5px;
}
.processEditorButton {
	padding: 1px 0px 0px 1px;
	/*font-size: smaller;*/
	width: 16px;
	height: 16px;
}
.processDetail {
	z-index: 300001;
}
.editorPanelTitle {
	/*background: url(images/grippy_blue.png) no-repeat 3px center #d0e4f6;*/
	background: url(images/grippy_blue.png) no-repeat 3px center #E7EDF6; 
	padding: 3px;
	width: 100%;
	border-bottom: 1px solid #406BA4;
}
.processEditorTitleTxt {
	height: 22px;
	width: 150px;
	font-size: .9em;
}
.processEditorContainer {
	
}
.processEditorLabel {
	padding-left: 10px;
}

.typeHierarchyDialog {
	z-index: 300000;
}
.typePanel {
	margin-top: 5px;
	margin-bottom: 5px;
	border-left: 2px solid #8DBFE6;
	margin-left: 20px;
	padding-left: 5px;
}

.apptDetail {
	z-index: 300001;
}

.test {
	background-color: BLACK;
	width: 20px;
	height: 100px;
}

.cellLabel {
	width: 250px;
	text-align: right;
	background-color: #DEE6FE;
	font-weight: bolder;
}
.cellValue {
	width: 400px;
}
.singleCellValue {
	width: 650px;
}
.cellValue ul {
	padding-left: 20px;
	margin-bottom: 0px;
}
.oddCell {
/*	background-color: #F2F2F2 !important;*/
}
.evenCell {
/*	background-color: #E8E8E8 !important;*/
}
	
.detailGrid {
	border: 1px solid GRAY;
	margin: 2px;
}

.graphMenu {
	border-right: 2px solid #BCE2FE;
	background-color: #F6F6F6;
	padding-right: 5px;
	padding-left: 5px;
	height: 100%;
}

.formLabel {
	width: 100px;
	margin-bottom: 2px;
	height: 22px;
}

.formText {
	font-size: .9em;
	width: 170px;
	height: 22px;
	margin-bottom: 2px;
}

.formBtn {
	height: 25px;
	margin-left: 100px;
}

.checkBox {
	margin-left: 20px;
}

.deletePanel {
	margin: auto;
	padding: 20px;
}

.datePicker {
	margin-top: 26px;
	margin-right: 3px;
}

.imgButton {
    border: 1px solid black;
    padding: 2px;
    margin-top: 5px;
    cursor: hand;
    cursor:  pointer;
}

.imgPointer {
	cursor: hand;
	cursor:  pointer;
}

.bankEditorTextBox {
	width : 500px;
	
}
.bankEditorErrorWidget {
	border-color: red;
}

.removePropertyButton {
	width: 15px;
	height: 15px;
	padding: 2px;
	margin-right: 5px;
}

.propsParameter {
	margin: 0px 5px 0px 10px;
}


.buttonMenu {
	/*background:transparent url(images/hborder.png) repeat-x scroll 0 -27px;*/
	border:1px outset #CCCCCC;
	font-size:small;
	margin:0;
	padding:3px;
	text-decoration:none;
}
.copyMenuStyle {
	color:#666666;
	font-weight:bold;
	padding:4px 6px 4px 6px;
}

.warningPanel {
	background-color: #FAFAFA;
	border: 1px solid #BBBBBB;
	width: 100%;
	font-size: smaller;
}

.processParameter {
	width: 250px;
}
.suggestBox {
	width: 230px;
}

.subCbPanel {
	margin-left: 50px;
	padding-left: 5px;
	border-left: 2px solid #DDDDDD;
}

.toolBarMenuSmall {
	font-size: 11px;
	font-family: Arial,Verdana,sans-serif;
}

.siteManagerDetail {
	border: 1px dotted GRAY;
	margin: 0 5px 0 0;
	padding: 5px;
}
.siteManagerButtons {
	margin-top: 10px;
}
.siteManagerTitle {
	font-weight: bolder;
	color: #727272;
}

.siteManagerList {
}

.userInfoMainPanel {
	border: 1px solid #464646;
	height: 320px;
}
.userInfoSubPanel {
	padding: 0 5px 0 5px;
}
.userInfoTitle {
	background-color: #464646;
	color: WHITE;
	font-weight: bolder;
	height: 18px;
	padding: 2px 0 0 10px;
}
.userTreeRefresh {
	cursor: pointer;
	padding-right: 3px;
	padding-bottom: 2px;
}
.userTreeTitle {
	font-weight: bolder;
	height: 18px;
	padding: 2px 0 0 10px;
}
.userInfoSection {
	margin-top: 10px;
}
.userInfoTextBox {
	margin-top: 2px;
	border: 1px solid GRAY;
	height: 22px;
	width: 200px;
}
.userInfoGroupButton {
	margin-top: 2px;
	padding: 3px 0px 0px 2px;
	width: 17px;
	height: 17px;
}
.userInfoTreePanel {
	margin-right: 5px;
}
.searchBox {
	padding-left: 20px;
	background: url(images/zoom-3.png) 1px no-repeat;
}

.directHttpParameterPanel {
	border: 1px solid #CCCCCC;
	background-color: #F6F6F6;
	padding: 2px 2px 2px 5px;
	margin: 0 0 2px 0;
}


.dependencyMainPanel {
	width: 98%;
	/*border: 1px solid #909090;*/
	padding: 5px;
}
.dependency100Panel {
	width: 100%;
}
.dependencyPanel {
	width: 100%;
	background-color: #DFDFDF;
	border: 1px solid WHITE;
	margin-bottom: 2px;
	padding: 4px;
}
.dependencyTopPanel {
	width: 100%;
	background-color: #F0F0F0;
	padding: 2px;
	margin-bottom: 5px;
}
.dependencyTitle {
	font-weight: bolder;
	color: #606060;
	margin-bottom: 2px;
}

.propertyDescriptionPanel {
	z-index: 300001;
	border-color: #E6E6E6;
	background-color: #F2F2F2;
	width: 300px;
}

.propertyListPopup {
	z-index: 300001;
	/*height: 410px;*/
	border: 1px solid #C3D9FF;
}

.propertyHelpOptionPanel {
	border: 1px solid #D0D0D0;
	/*background-color: #EFEFEF;*/
	padding-right: 3px;
	width: 410px;
	margin-left: 5px;
}
.propertyHelpDescPanel {
	border: 1px solid #D0D0D0;
	background-color: #F9F9F9;
	padding: 5px;
	margin-bottom: 2px;
	width: 410px;
	height: 70px;
}
.propertyHelpCategoryPanel {
	background-color: #F9F9F9;
	border: 1px solid #D0D0D0;
	margin-right: 3px;
	height: 230px;
	padding: 2px;
}
.propertyHelpSortPanel {
	background-color: #F9F9F9;
	width: 200px;
	border: 1px solid #D0D0D0;
	height: 51px;
	padding: 3px;
	
}
.propertyHelpSearchPanel {
	width: 250px;
	border: 2px solid #DADADB;
	padding: 5px;
	margin-top: 2px;
	
}
.propertyHelpInheritancePanel {
	background-color: #F9F9F9;
	width: 200px;
	border: 1px solid #D0D0D0;
	height: 52px;
	padding: 3px;
	
}
.propertyHelpSubTitle {
	color: GRAY;
	font-size: 13px;
}
.propertyHelpSearchTitle {
	color: GRAY;
	font-size: 13px;
	margin-top: 6px;
}

.schedulerButtons {
	border: 1px dashed GRAY;
}
