.cellListEvenItem {
	cursor: pointer;
}
.cellListOddItem {
	cursor: pointer;
}
.cellListSelectedItem {
	border: 1px solid #A5B6DE;
	background-color: #F2F3FE;
}
.cellListWidget {
	padding: 2px;
}
.cellListKeyboardSelectedItem {
	border: 1px solid #A5B6DE;
	background-color: #F2F3FE;
}