/** Add css rules here for your application. */

body {
	text-align: center;
}

.gwt-MenuBarPopup {
	z-index:300001;
}
.gwt-SuggestBoxPopup {
  z-index:300001;
}

/*
.bankGridCell,
.bankGridCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0;
    border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}
.bankGridCellOver,
.bankGridCellOverDark {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
	font-size:11px;
	color:black;
	border-bottom:1px solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	background-color:#A7B7E2;
}
.bankGridCellSelected,
.bankGridCellSelectedDark {
	font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
	color:white;
	border-bottom:1px dotted #a0a0a0;
	border-top:1px dotted #a0a0a0;
	border-right:1px solid #a0a0a0;
	background-color:#000080;
}
.bankGridCellSelectedOver,
.bankGridCellSelectedOverDark {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
	font-size:11px;
	color:white;
	border-bottom:1px dotted #a0a0a0;
	border-top:1px dotted #a0a0a0;
	border-right:1px solid #a0a0a0;
	background-color:#A7B7E2;
}
.bankGridCellDisabled,
.bankGridCellDisabledDark {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
	font-size:11px;
	color:#808080;
	border-bottom:1px solid #a0a0a0;
	border-right:1px solid #a0a0a0;
	background-color:#ffffff;
}*/

.bankGridCell {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: black;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellDark {
    background-color: #F0F0E8;
    border-bottom: 1px solid #F0F0E8;
    border-top: 1px solid #F0F0E8;
    color: black;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellOver, .bankGridCellOverDark {
    background-color: #FFFFC0;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    color: black;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellSelected, .bankGridCellSelectedDark {
    background-color: #C0C0FF;
    border-bottom: 1px solid #C0C0FF;
    border-top: 1px solid #C0C0FF;
    color: black;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellSelectedOver, .bankGridCellSelectedOverDark {
    background-color: #E0E0FF;
    border-bottom: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    color: black;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellDisabled {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #808080;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}
.bankGridCellDisabledDark {
    background-color: #F0F0E8;
    border-bottom: 1px solid #F0F0E8;
    border-top: 1px solid #F0F0E8;
    color: #808080;
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}

